[user]
    email = paddy.newman@rakuten.com
    name = Paddy Newman
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    sh = show
    lg = log --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)<%ae>%Creset' --abbrev-commit
[push]
    default = simple
[credential]
    helper = cache --timeout=86400
[core]
	excludesfile = ~/.gitignore
