[user]
    email = paddynewman@gmail.com
    name = Paddy Newman
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    sh = show
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
    default = simple
[credential]
    helper = cache --timeout=86400
[core]
	excludesfile = ~/.gitignore
